* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

.top-nav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.top-nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-family: 'Bruno Ace SC', cursive;
    text-transform: uppercase;
}

.top-nav .search-container {
    float: right;
}

#form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

#form input {
    all: unset;
    border-radius: 11px;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font: 15px system-ui;
    padding: 5px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    height: 470px;
    text-align: center;
    background-color: #151f30;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}