* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    min-width: 300px;
}

h3 {
    color: white;
}

.top-nav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.top-nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-family: 'Bruno Ace SC', cursive;
    text-transform: uppercase;
}

.top-nav .search-container {
    float: right;
}

#form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

#form input {
    all: unset;
    border-radius: 11px;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font: 15px system-ui;
    padding: 5px;
}

.column {
    float: left;
    width: 25%;
    padding: 12px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    height: 512px;
    text-align: center;
    font-size: 2vh;
    background-color: #151f30;
}

.thumbnail {
    height: 400px;
    width: 100%;
    border-radius: 19px;
}

@media only screen and (max-width:1200px) {

    .column {
        width: 33%;
    }

}

@media only screen and (max-width:800px) {
    .column {
        width: 48%;
    }
}

@media only screen and (max-width:570px) {
    .column {
        width: 98%;
    }

    .top-nav a {
        text-align: center;
        float: none
    }

    .top-nav .search-container {
        float: none;
    }

    #form {
        width: 98%;
    }

}